<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <form id="loginForm" class="form" method="POST">
            <h1 class="title">Iniciar Sesión</h1>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="input" placeholder="Tu Email" required>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" class="input" placeholder="Tu Password" required>
            <button type="submit" class="button-confirm">Iniciar Sesión</button>
            <div id="errorMessage" class="error"></div>
        </form>
    </div>
    <script src="/js/authHandler.js"></script>
</body>
</html>
