<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <form id="loginForm" class="form" method="POST">
            <h1 class="title">Registrarse</h1>
            <label for="name">Nombre:</label>
            <input type="text" name="name" id="name" class="input" placeholder="Tu username" required>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="input" placeholder="Tu Email" required>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" class="input" placeholder="Tu Password" required>

            <!-- Aquí está el enlace de "¿Ya tienes cuenta?" con el nuevo estilo -->
            <a class="link-session" href="/">¿Ya tienes cuenta? Inicia Sesión</a>

            <button type="submit" class="button-confirm">Registrarse</button>
            <div id="errorMessage" class="error"></div>
        </form>
    </div>
    <!--<script src="/js/authHandler.js"></script>-->
</body>
</html>
