<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Ingresos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="header-bar">
        <h1 class="header-title">Mis tristes gastos :(</h1>
    </header>
    
    <div class="container">
        <!-- Botón de Cerrar Sesión -->
        <button id="logoutButton" class="button-confirm" style="margin-bottom: 20px;">Cerrar Sesión</button>
        
        <form id="ingresoForm" class="form">
            <h1 class="title">Registrar Ingreso</h1>
            <label for="monto">Monto:</label>
            <input type="number" name="monto" id="monto" step="0.01" class="input" placeholder="Ingrese el monto" required>
            <label for="motivo">Motivo:</label>
            <input type="text" name="motivo" id="motivo" class="input" placeholder="Motivo del ingreso" required>
            <button type="submit" class="button-confirm">Insertar</button>
        </form>

        <!-- Loader y notificaciones en el mismo lugar -->
        <div class="notification-container" id="notificationContainer" style="display: none;">
            <div class="loader" id="loader" style="display: none;">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                <div class="bar4"></div>
                <div class="bar5"></div>
                <div class="bar6"></div>
                <div class="bar7"></div>
                <div class="bar8"></div>
                <div class="bar9"></div>
                <div class="bar10"></div>
                <div class="bar11"></div>
                <div class="bar12"></div>
            </div>
            <div id="notificationsContainer"></div>
        </div>
    </div>

    <!-- Enlace al archivo JavaScript -->
    <script src="/js/formHandler.js"></script>

</body>
</html>
